#upbar {
    background-color: #1b375f;
}

#upbar a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        margin-left: 100px;
        max-width: 90%;

    }

}

#search-exit {
    margin-top: 150px;
}

#row-search {

    margin-top: -15px;
}

 /* ---------------------------------------------- Tela de Login ----------------------------------------*/
#card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 150px auto;
    
  }

/*------------------------------------------------ Logo no header ---------------------------------------*/

#logoname {
    color: white;
    margin: 20px;
}

/*------------------------------------------------ Inputs ---------------------------------------*/


.inputsearch {

    border-radius: 12px;


}

#search-button {

    border-radius: 12px;

}

.trash:hover {
    cursor: pointer;
}


/* ---------------------------------------------- Media Querys -------------------------------------*/

@media  (max-width: 992px) {
    
    #logoname {
        font-size: 0.8rem;
    }

    .link-cmrj {
        margin-left: 5px;
    }

    #list-links {
        margin-bottom: 20px;
    }

    #link-logoff {
        margin-left: auto;
    }

    .small-table tr {
        font-size: 0.5rem;
    }
    

}