#upbar {
    background-color: #1b375f;
}

@media (min-width: 1200px) {
    .container {
        margin-left: 100px;
        max-width: 90%;

    }

}

#logoname {
    color: white;
    margin: 20px;
}

.inputs {
    margin-left: 5px;
    width: 350px;
    display: inline;

}

#search {
    border-color: 1px solid red;
    border-radius: 20px;
}

#search-button {
    border-color: 1px solid red;
    border-radius: 20px;
}